<div class="slider-container">
  <div class="slider-track" [style.transform]="'translateX(-' + (currentIndex * 750) + 'px)'">
    <img src="image.jpg" class="slider-image" alt="car 1" />
    <img src="image2.jpg" class="slider-image" alt="car 2" />
    <img src="image3.jpg" class="slider-image" alt="car 3" />
    <img src="image5.jpg" class="slider-image" alt="car 4" />
    <img src="image6.jpg" class="slider-image" alt="car 4" />
    <img src="image7.jpg" class="slider-image" alt="car 4" />
    <img src="image8.jpg" class="slider-image" alt="car 4" />



  </div>
</div>

<h1 class="desc1">Find Your Fit</h1>
<h2 class="desc">Discover your dream car in three minutes or less.</h2>
<h3 class="desc">We narrow down thousands of vehicles to pick the best ones for your needs.</h3>
<button class="button" (click)="navigatetopreference()">GET STARTED</button>