.slider-container {
  overflow: hidden;
  width: 750px; 
  background-color: #f5f5f5;
  padding: 1px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 0 auto; 
}

.slider-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
  width: 2250px; 
}

.slider-image {
  width: 750px;
  height: auto;
  object-fit: contain;
  flex-shrink: 0;
}

button {
  all: unset;
  background-color: #ff5722;
  color: white;
  padding: 10px 210px;
  margin-left: 500px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 400;
  display: inline-block;
  text-align: center;
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e64a19;
}

.desc {
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-weight: 20;
  font-size: 15px;

}

.desc1 {
  font-family: fantasy;
  text-align: center;
  font-weight: 70;
  font-size: 35px; 
}