<div class="top-header">
  <div class="left-section">
    <button class="hamburger" aria-label="Toggle menu" (click)="toggleSidebar()">
      &#9776;
    </button>
    <button (click)="navigatetohome()" class="logo">AutoAdvisor</button>
    <div class="search-bar">
      <input type="text" placeholder="Search or Ask a Question">
      <button class="search-button">Search</button>
    </div>
  </div>


  <div *ngIf="isAuthChecked" >
    <ng-container *ngIf="!isLoggedIn; else loggedInBlock">
      <button class="auth-button" (click)="navigatetologin()">Login</button>
      <button class="auth-button" (click)="navigatetoregister()">Register</button>
    </ng-container>
    <ng-template #loggedInBlock>
      <button (click)="logout()">Logout</button>
    </ng-template>
  </div>
</div>

<div class="sidebar" [class.open]="sidebarOpen" role="navigation" aria-label="Main Menu">
  <a routerLink="/home" (click)="navigatetohome()">Home</a>
  <a routerLink="/recomendation" (click)="navigatetoref()">Browse Cars</a>
  <a routerLink="/news" (click)="closeSidebar()">Latest News</a>
  <a routerLink="/reviews" (click)="closeSidebar()">Car Recomender</a> 
  <a routerLink="/reviews" (click)="closeSidebar()">Caromparison</a>
  <a routerLink="/admin" (click)="navigatetoadmin()"> Admin Dashboard</a>

</div>

<div class="nav-bar">
  <div class="dropdown">
    <button class="dropbtn">New Cars</button>
    <div class="dropdown-content">
      <a routerLink="/new/hatchback">Hatchback</a>
      <a routerLink="/new/sedan">Sedan</a>
      <a routerLink="/new/suv">SUV</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">News and Reviews</button>
    <div class="dropdown-content">
      <a routerLink="/news">Latest News</a>
      <a routerLink="/reviews">Car Reviews</a>
    </div>
  </div>
</div>
<app-slider></app-slider>
<br>
<br>
<br>
<br>
<app-carnews></app-carnews>