<!-- <button class="back-btn" (click)="goBack()">← Back</button> -->
 <div class="nav">
  <a (click)="navigatetohome()" class="logo">AutoAdvisor</a>
 </div>
<div class="container">
<div class="form-container">
  <h2>Choose Your Car Preferences</h2>
  <form *ngIf="preferenceForm" [formGroup]="preferenceForm" (ngSubmit)="onSubmit()">

    <label>Fuel Type:</label>
    <select formControlName="fuel">
      <option value="">Any</option>
      <option value="Diesel">Diesel</option>
      <option value="Petrol">Petrol</option>
      <option value="CNG">CNG</option>
    </select>

    <label>Seller Type:</label>
    <select formControlName="sellerType">
      <option value="">Any</option>
      <option value="Individual">Individual</option>
      <option value="Dealer">Dealer</option>
    </select>

    <label>Transmission:</label>
    <select formControlName="transmission">
      <option value="">Any</option>
      <option value="Manual">Manual</option>
      <option value="Automatic">Automatic</option>
    </select>

    <label>Max Price:</label>
    <input type="number" formControlName="maxPrice" placeholder="e.g. 1200000" />

    <label>Year</label>
    <input type="number" formControlName="year" placeholder="e.g. 2020" />

    <button type="submit">GET RECOMENDATION</button>
  </form>
</div>
<div *ngIf="cars.length > 0">
  <h3>Recommended Cars:</h3>
  <ul>
    <li *ngFor="let car of cars">
      {{ car.name }} - {{ car.fuel }} - ₹{{ car.selling_price }} - {{ car.transmission }} - {{ car.year}}
    </li>
  </ul>
</div>
</div>